WebApplication1/Web References/localhost/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SumOfNums">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="First" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Second" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SumOfNumsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SumOfNumsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadXmlFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lni" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadXmlFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadXmlFilesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateUnformatted">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GDSDirectory" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rollup1" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateUnformattedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateUnformattedResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SumOfNumsSoapIn">
    <wsdl:part name="parameters" element="tns:SumOfNums" />
  </wsdl:message>
  <wsdl:message name="SumOfNumsSoapOut">
    <wsdl:part name="parameters" element="tns:SumOfNumsResponse" />
  </wsdl:message>
  <wsdl:message name="ReadXmlFilesSoapIn">
    <wsdl:part name="parameters" element="tns:ReadXmlFiles" />
  </wsdl:message>
  <wsdl:message name="ReadXmlFilesSoapOut">
    <wsdl:part name="parameters" element="tns:ReadXmlFilesResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateUnformattedSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateUnformatted" />
  </wsdl:message>
  <wsdl:message name="GenerateUnformattedSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateUnformattedResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="SumOfNums">
      <wsdl:input message="tns:SumOfNumsSoapIn" />
      <wsdl:output message="tns:SumOfNumsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadXmlFiles">
      <wsdl:input message="tns:ReadXmlFilesSoapIn" />
      <wsdl:output message="tns:ReadXmlFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateUnformatted">
      <wsdl:input message="tns:GenerateUnformattedSoapIn" />
      <wsdl:output message="tns:GenerateUnformattedSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SumOfNums">
      <soap:operation soapAction="http://tempuri.org/SumOfNums" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadXmlFiles">
      <soap:operation soapAction="http://tempuri.org/ReadXmlFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateUnformatted">
      <soap:operation soapAction="http://tempuri.org/GenerateUnformatted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SumOfNums">
      <soap12:operation soapAction="http://tempuri.org/SumOfNums" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadXmlFiles">
      <soap12:operation soapAction="http://tempuri.org/ReadXmlFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateUnformatted">
      <soap12:operation soapAction="http://tempuri.org/GenerateUnformatted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost/MyFirstWebService/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost/MyFirstWebService/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>